<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Running</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stat-grid">
    <div class="stat-item">
      <div class="stat-icon">
        <ion-icon name="trending-down"></ion-icon>
      </div>
      <div class="stat-content">
        <div class="stat-content-value">26.66 km</div>
        <div class="stat-content-label">Distance</div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-icon">
        <ion-icon name="trending-down"></ion-icon>
      </div>
      <div class="stat-content">
        <div class="stat-content-value">26.66 km</div>
        <div class="stat-content-label">Distance</div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-icon">
        <ion-icon name="trending-down"></ion-icon>
      </div>
      <div class="stat-content">
        <div class="stat-content-value">26.66 km</div>
        <div class="stat-content-label">Distance</div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-icon">
        <ion-icon name="trending-down"></ion-icon>
      </div>
      <div class="stat-content">
        <div class="stat-content-value">26.66 km</div>
        <div class="stat-content-label">Distance</div>
      </div>
    </div>
  </div>
</ion-content>
