<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{activity_detail.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="activity_detail">

  <div class="map">
<!--    todo implement later -->
  </div>

  <div class="stat-grid">
    <div class="stat-item">
      <div class="stat-icon">
        <ion-icon name="trending-up"></ion-icon>
      </div>
      <div class="stat-content">
        <div class="stat-content-value">{{calculateMeterToKMIfNecessary(activity_detail.achieved)}}</div>
        <div class="stat-content-label">Distance</div>
      </div>
    </div>

    <div class="stat-item">
      <div class="stat-icon">
        <ion-icon name="trending-up"></ion-icon>
      </div>
      <div class="stat-content">
        <div class="stat-content-value">{{calculateMeterToKMIfNecessary(activity_detail.maxElevation)}}</div>
        <div class="stat-content-label">Max Elevation</div>
      </div>
    </div>
  </div>
</ion-content>
